.RH{
    position: relative;
    left: 120px;
}

label{
    position: relative;
    left: 120px;
}

.ino{
    position: relative;
    bottom: -10px;
}

.enfor{
    position: relative;
    left: 120px;
    bottom: -25px;
}

ion-button{
    --background: #2082c3;
}
  
ion-toolbar{
  --background: #2082c3;
  --color:#ffff;
}