<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CrearCuenta</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2 class="RH">Crear Cuenta</h2>
  <div>
    <ion-list>
      <label for="">Ingrese su nombre</label>
      <ion-input type="text" placeholder="Ejemplo : cris.." class="inno"></ion-input>
      
      <label for="">Ingrese su Apellido</label>
      <ion-input type="text" placeholder="Ejemplo : rona.."></ion-input>
     
      <label for="">Numero Telefonico</label>
      <ion-input type="number" placeholder="Ejemplo : 596.."></ion-input>
     
      <label for="">Fecha de nacimiento</label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
      <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
      </ion-modal>
      <ion-item>
        <ion-input labelPlacement="floating"  placeholder="alumno@duoc.cl">
          <div slot="label" >Ingrese su correo<ion-text color="danger">(Obligatorio)</ion-text></div>
        </ion-input>
      </ion-item>
    </ion-list>
    
    <label for="">Ingrese su contraseña</label>
    <ion-input type="password" value="NeverGonnaGiveYouUp">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    
    <label for="">Confirme su contraseña</label>
    <ion-input type="password"  value="NeverGonnaGiveYouUp">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </div>

  <ion-button class="enfor">Crear Cuenta</ion-button>
</ion-content>
