.pas{
  bottom: -200px;
}

.usrt{
  bottom: -180px;
}

ion-button{
  --background: #2082c3;
}

ion-toolbar{
  --background: #2082c3;
  --color:#ffff;
}


#container {
  text-align: center;
  position: absolute;
  left: 15px;
  right: 35px;
  transform: translateY(-50%);
}

#container-button {
  text-align: center;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 400px;
}

#container-check {
  size: 2px;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 350px;
}

#enlaces{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
}

#enlaces a{
  text-decoration: none;
}

.ini{
  position: relative;
  bottom: -120px;
  left: 65px;
}
.cra{
  position: relative;
  bottom: -290px;
  left: 20px;
}

.car{
  position: relative;
  bottom: -25px;
  right:150px;
}

.olc{
  position:relative;
  left: -40px;
}