<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicia sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <form [FormGroup] ="loginForm" (ngSubmit)="onSubmit()">
  <div id="container">
    <ion-item>
      <ion-input formControlName="correo" label="Correo electrónico" type="email" label-placement="floating" required></ion-input>
    </ion-item>

    <ion-item class="pas">
      <ion-input formControlName="password" label="Contraseña" type="password" label-placement="floating" required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle> 
      </ion-input>
    </ion-item>
    </div>

    <div id="container-check">
      <ion-checkbox labelPlacement="end" line="none">Recordar correo electrónico</ion-checkbox>
    </div>

  
</ion-content>
