<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Solicita tu hora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="image">
    <ion-img
    src="..\assets\img\agendamento-online-consulta-medico.jpg"
    ></ion-img>
  </div>

  <div id="container">
    <strong>¡No esperes más!</strong>
    <br>
    <br>
    <p> Agenda tu hora médica fácilmente
    <p> Sin hacer largas filas
  </div>

  <div id="container-button">
    <ion-button href="login">Iniciar Sesión</ion-button>
    <p>Si no eres usuario, <a href="crear-cuenta">regístrate</a></p>
  </div>
  