<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Solicita tu hora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="image">
    <ion-img
    src="..\assets\img\agendamento-online-consulta-medico.jpg"
    ></ion-img>
  </div>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <a href="login">hola</a>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  
